.cstm-container {
    display:inline-flex;
    width: 100%;
}

.cstm-side-bar {
    width: 250px;
}

.cstm-content {
    width: 100%;
    padding: 0px 30px 10px 30px;
}

.cstm-side-bar a {
    font-size: 15px;
    padding: 10px;
    width: 100%;
    text-decoration: none;
    display: inline-flex;
    color: rgba(100,100,100);
}
.cstm-side-bar a:hover {
    color: rgba(70,70,70);
    font-weight: bold;
    background-color: whitesmoke;
}
.cstm-side-bar i {
    width: 20%;
    margin-top: 5px;
    text-align: center;
}

.cstm-page-title {
    padding: 10px;
    border: 2px dotted gainsboro;
    font-size: 13px;
    font-weight: bold;
    background-color: whitesmoke;
    color: rgba(70,70,70);
}
.cstm-page-title i {
    padding-right: 5px;
}

.cstm-card {
    color: whitesmoke;
    font-size: 13px;
    border-radius: 10px;
    word-wrap: break-word;
}
.cstm-card-header {
    font-weight: bold;
    padding: 5px 10px 5px 10px;
}
.cstm-card-header i {
    padding: 5px;
    margin-right: 7px;
    border-radius: 5px;
}
.cstm-card-body {
    display: inline-flex;
    width: 100%;
}
.cstm-card-body span {
    padding: 10px;
    width: 100%;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}
.cstm-card-footer {
    text-align: center;
    padding: 5px 10px 5px 10px;
}

.cstm-card-green {
    border: 1px solid #27ae60;
    background-color: #2ecc71;
    box-shadow: 5px 5px #27ae60;
}
.cstm-card-green .cstm-card-header {
    border-bottom: 1px dotted #27ae60;
}
.cstm-card-green .cstm-card-header i {
    background-color: #27ae60;
}
.cstm-card-green .cstm-card-footer  {
    border-top: 1px dotted #27ae60;
}

.cstm-card-red {
    border: 1px solid #c0392b;
    background-color: #e74c3c;
    box-shadow: 5px 5px #c0392b;
}
.cstm-card-red .cstm-card-header {
    border-bottom: 1px dotted #c0392b;
}
.cstm-card-red .cstm-card-header i {
        background-color: #c0392b;
}
.cstm-card-red .cstm-card-footer {
    border-top: 1px dotted #c0392b;
}

.cstm-card-blue {
    border: 1px solid #2980b9;
    background-color: #3498db;
    box-shadow: 5px 5px #2980b9;
}
.cstm-card-blue .cstm-card-header {
    border-bottom: 1px dotted #2980b9;
}
.cstm-card-blue .cstm-card-header i {
    background-color: #2980b9;
}
.cstm-card-blue .cstm-card-footer {
    border-top: 1px dotted #2980b9;
}

.cstm-card-darkblue {
    border: 1px solid #d35400;
    background-color: #e67e22;
    box-shadow: 5px 5px #d35400;
}
.cstm-card-darkblue .cstm-card-header {
    border-bottom: 1px dotted #d35400;
}
.cstm-card-darkblue .cstm-card-header i {
    background-color: #d35400;
}
.cstm-card-darkblue .cstm-card-footer {
    border-top: 1px dotted #d35400;
}

.cstm-no-record{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: rgb(70,70,70)
}
.cstm-no-record i {
    padding-right: 5px;
}

