@model DepartmentViewModel

@{
    ViewData["Title"] = "Create Department";
}

<div class="container-fluid">
    <div class="row mb-4">
       <div class="cstm-page-title">
           <i class="fa-solid fa-building"></i>
           CREATE DEPARTMENT
       </div>
    </div>

    <form asp-action="Save" method="post">
        <input asp-for="FunctionID" type="hidden"/>
        <input asp-for="InternalID" type="hidden"/>
        <div class="cstm-divider-title">
            <span>DEPARTMENT INFORMATION</span>
        </div>
        <div class="row mb-2">
            <div class="col-12 col-md-4 mb-3 form-group">
                <label asp-for="Name" class="form-label">* Department Name:</label>
                <input asp-for="Name" type="text" class="form-control" placeholder="Department Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-4 mb-3 form-group">
                <label asp-for="Manager_InternalID" class="form-label">* Select Manager:</label>
                <select asp-for="Manager_InternalID" class="form-select"
                        asp-items="@(new SelectList(Model.ManagerList, "Value", "Text"))">
                </select>
                <span asp-validation-for="Manager_InternalID" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-12">
                <button type="submit" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i>&nbsp;Save</button>
                <a asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-xmark"></i>&nbsp;Cancel</a>
            </div>
        </div>
        <input asp-for="Status" type="hidden"/>
        <input asp-for="CreatedDate" type="hidden"/>
        <input asp-for="ModifiedDate" type="hidden"/>
    </form>
</div>