<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Information System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/font-awesome/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IS.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Information System</a>
            </div>
        </nav>
    </header>

    <div class="cstm-container">
        <div class="cstm-side-bar">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a asp-controller="Dashboard" asp-action="Index"><i class="fa-solid fa-gauge"></i>Dashboard</a>
              </li>
              <li class="nav-item">
                <a asp-controller="Dashboard" asp-action="Index"><i class="fa-solid fa-code-pull-request"></i>Request</a>
              </li>
              <li class="nav-item">
                <a asp-controller="Dashboard" asp-action="Index"><i class="fa-solid fa-user"></i>Employee</a>
              </li>
              <li class="nav-item">
                <a asp-controller="Department" asp-action="Index"><i class="fa-solid fa-building"></i>Department</a>
              </li>
              <li class="nav-item">
                <a asp-controller="Dashboard" asp-action="Index"><i class="fa-solid fa-location-dot"></i>Position</a>
              </li>
            </ul>
        </div>
        <div class="cstm-content">
            @RenderBody()
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
